@model ASPProyectoTercerTrimestre.Models.usuariorol

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario-Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>

        <dd>
            @ASPProyectoTercerTrimestre.Controllers.UsuariorolController.NombreUsuario(Model.idUsuario)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @ASPProyectoTercerTrimestre.Controllers.UsuariorolController.NombreRoles(Model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
