@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<p>Effetrans es una plataforma web en desarrollo la cual se base en el trnasporte de envios de carga, por medios terrestres, aumentando la comodidad para los usuarios.</p>
