
@{
    ViewBag.Title = "Biografia";
}

<h2>Biografia</h2>

<p>Effetrans es una plataforma en cracion a comienzos del 2021, la cual pretende evolucionar el transporte de carga 
   proporcionando una mayor facilidad para los clientes y proporcionando opciones de empleo a los conductores independientes.
</p>