@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<address>
    Effetrans<br />
    Bogota, Colombia <br />
    <abbr title="Celular">312 566-7888</abbr>
</address>

<address>
    <strong>Soporte</strong>   <a href="Effetrans:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="EffetransMarketing@example.com">Marketing@example.com</a>
</address>