@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <img src="~/ImagenesCSS/Logo.png" alt="Imagen.png">
    <p class="lead">Effetrans es una plataforma web para la realización de envios por medio terrestre, por conductores independientes.</p>
    <p><a href="https://drive.google.com/file/d/13RQXRfLHsCvK8-AImWOeaEkQNEBj87gC/view?usp=sharing" class="btn btn-primary btn-lg">Manual corporativo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Interface Web</h2>
        <img src="~/ImagenesCSS/interface.jpg" alt="Imagen.jpg" width="128" height="220" />
        <p>
            La interface web es la representación del prototipo del proyecto que se va a realizar. En este caso se trata de una
            imagen que nos muestra el resultado visual que tendrá nuestra página web o nuestra maqueta
        </p>
        <p><a class="btn btn-default" href="https://drive.google.com/file/d/1C3FUDFx7XswPFSy35GEiIZxZezyHcOPw/view?usp=sharing">Plantilla &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logo</h2>
        <img src="~/ImagenesCSS/LogoEjemplo.jpg" alt="Imagen.jpg" width="150" height="128" />
        <p>Símbolo formado por imágenes o letras que sirve para identificar una empresa, marca, institución o sociedad y las cosas que tienen relación con ellas.</p>
        <p><a class="btn btn-default" href="https://drive.google.com/file/d/1Z9CCzcAkX1NE3-xv3efT_ki1x5yCooG5/view?usp=sharing">Logo de la plataforma &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prototipo de cliente</h2>
        <img src="~/ImagenesCSS/Persona.jpg" alt="Imagen.jpg" width="200" height="128" />
        <p>Dentro del diseño centrado en el usuario y marketing, personas son personajes imaginarios creados para representar los diferentes tipos de usuarios que podrían usar un sitio web, una marca o un producto de manera similar</p>
        <p><a class="btn btn-default" href="https://drive.google.com/file/d/1-uaPsAXlgQyfG9Ld5QIjSzFZ67ZAs70s/view?usp=sharing">User persona &raquo;</a></p>
    </div>
</div>